/*Global styles*/
@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');


:root{
  --main-font: 'Source Sans Pro', sans-serif;
  --main-color: rgb(11, 168, 45);
  
}

/* --------------------------------
 * base
 * -------------------------------- */
body{ 
  width: 100%;
  margin: 0;
  font-family: 'Lato', "Hiragino Kaku Gothic ProN", sans-serif;
  text-align: center;
  position: relative; 
  overflow-x: hidden;
}

ul{
  padding-left: 0;
}

li{
  list-style: none;
  z-index: 100;
}

h2{
  margin-bottom: 40px;
  padding-bottom: 5px;
  color: var(--main-color);
  border-bottom: 2px var(--main-color) solid;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
}

h3{
  font-size: 24px;
  margin-bottom: 20px;
}

/* --------------------------------
 * header
 * -------------------------------- */
header{
  width: 100%;
  z-index: 100;
}

.navbar img{
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.navbar{
  background-color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  background: #000 !important;
  padding: 0 15px;
  z-index: 100;
  opacity: 0;
  animation: fadeDown .5s forwards;
  animation-delay: 1s;
}

.navbar-collapse{
  height: 100%;
  line-height: 80px;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  padding-top: 10px;
  transition: all .5s ;
  height: 100%;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar-dark .navbar-nav .nav-link.active{
  color: var(--main-color);
}


.navbar-dark .navbar-nav .nav-link:hover{
  color: #fff;
  background-color: var(--main-color);
}

button[aria-expanded="true"] > span {
  position: relative;
  display: none;
}
 
button[aria-expanded="true"]::after {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  content: "X";
}

/* --------------------------------
 * Top
 * -------------------------------- */
#top{
  background-image: url(../img/top.jpg);
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  width: 100%;
}

#top::before{
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 10;
}

.home-inner{
  background-image: url(../img/top.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  width: 100%;
}

.home-inner::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 10;
}

.top-caption{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 100%;
}

.top-caption h1{
  color: #fff;
  text-shadow: 0 0 10px #000;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 0 0 10px #444444;
  line-height: 1.5;
  opacity: 0;
  animation: fadeUp .5s forwards;
  animation-delay: .5s;
}

.top-caption .btn{
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px 15px;
  opacity: 0;
  animation: fadeDown .5s forwards;
  animation-delay: .5s;
}

.top-caption .btn:hover{
  color: #000;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px 15px;
  opacity: 0;
  background: #fff;
}

/* --------------------------------
 * PROFILE
 * -------------------------------- */
#profile {
  padding: 50px 0;
  width: 100%;
}

.profile-contents{
  margin: 0 20px;
  text-align: left;
}

.profile-image{
  width: 100%;
}

.profile-image img{
  width: 100%;
}

.profile-image-large{
  display: none;
}

.profile-text{
  margin-bottom: 20px;
  font-size: 16px !important;
  line-height: 1.7;
}

.profile-github{
  margin-top: 20px;
}

/* --------------------------------
 * SKILL
 * -------------------------------- */
#skill{
  padding: 50px 0;
  color: #fff;
  background-image: url(../img/skill-bg-image.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -10;
  width: 100%;
}

#skill::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.6);
  z-index: -1;
}

#skill h2{
  z-index: 20;
  color: #fff;
  border-bottom: 2px solid var(--main-color);
  border-bottom: 2px solid #fff;
  color: #fff;
  z-index: 20;
}

.skill h3{
  font-size: 20px;
  margin-bottom: 0;
}

#skill p{
  font-size: 16px;
  margin: 10px 20px 0 20px;
  line-height: 2;
}

.skill{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#skill .icon{
  font-size: 50px;
  margin: 5px auto 0 auto;
  height: 80px;
  width: 80px;
  color: #fff;
}

/* --------------------------------
 * WORK
 * -------------------------------- */
#work{
  padding: 50px 20px;
  width: 100%;
}

#work-content{
  margin: 100px 20px;
}

.work-content{
  margin-bottom: 50px ;
}

.work-content__item dt{
  font-size: 20px;
}

.work-content__item dd{
  margin-bottom: 30px;
}

.work-content .show-page{
  margin-bottom: 0;
}

.work-list h2{
  margin-bottom: 20px;
}

.gallery{
  width: 100%;
  height: 100%;
}

.gallery-image{
  width: 100%;
  height: 100%;
  margin: 20px auto;
  position: relative;
}

.gallery-image a{
  display: inline-block;
  width: 100%;
  height: 100%;
}

.gallery-image a::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: #000;
  z-index: 10;
}

.gallery-image a:hover::before{
  opacity: .7;
}

.gallery-image img{
  width: 100%;
}

.gallery-image span{
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  z-index: 10;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.gallery-image a:hover span{
  opacity: 1;
}

/* --------------------------------
 * FOOTEER
 * -------------------------------- */
footer{
  width: 100%;
  height: 70px; 
  text-align: center;
  padding: 20px 0;
  background-color: #000000;
}

footer p{
  color: #fff;
  font-size: 16px;
} 

/* --------------------------------
 * メディアクエリ
 * -------------------------------- */
/* ==== PC版==== */
@media (min-width: 772px){
  .narrow{
    margin: 0 auto;
    width: 75%;
  }

  /* --------------------------------
  * Header
  * -------------------------------- */
  .navbar-dark .navbar-nav .nav-link{
    padding: 0 20px;
  }

  /* --------------------------------
  * Top
  * -------------------------------- */
  .top-caption h1{ 
    font-size: 36px;
  }

  .top-caption .btn{
    font-weight: bold;
    font-size: 20px;
  }

  /* --------------------------------
  * Profile
  * -------------------------------- */
  .profile-contents{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 50px;
    margin: 0 auto;
    width: 80%;
  }

  .profile-left{
    grid-column: 1/2;
  }

  .profile-right{
    grid-column: 2/3;
  }

  .profile-image-small{
    display: none;
  }

  .profile-image-large{
    display: block;
    border-radius: 50%;
    overflow: hidden;
  }

  .profile-github{
    font-size: 14px;
  }

  /* --------------------------------
  * SKILL
  * -------------------------------- */
  #skill h3{
    font-size: 28px;
    margin-bottom: 10px;
  }

  #skill p{
    font-size: 20px;
    margin: 50px 20px 0 20px;
  }

  #skill .icon{
    font-size: 75px;
    margin: 0 auto;
    padding: 30x;
    height: 80px;
    width: 80px;
    color: #fff;
  }

  /* --------------------------------
  * WORK
  * -------------------------------- */
  #work-content{
    margin: 100px 50px;
  }

  #work-content dt{
    font-size: 24px;
  }

  #work-content dd{
    font-size: 20px;
  }

  .gallery{
    display: grid;
    grid-template-columns: 20px 1fr 1fr 20px;
    grid-gap: 20px;
  }

  .gallery-image {
    margin: 0 auto;
  }

  .gallery-image:nth-child(odd){
    grid-column: 2/3;
  }

  .gallery-image:nth-child(even){
    grid-column: 3/4;
  }

  .gallery-image img{
    width: 100%;
  }

}

/* ==== PC版 (大) ==== */
@media (min-width: 1025px){
  .narrow{
    margin: 0 auto;
    width: 55%;
  }

  h2{
    font-size: 32px;
  }

  /* --------------------------------
  * Header
  * -------------------------------- */
  .navbar-brand{
    padding-left: 20px;
  }

  .navbar-dark .navbar-nav .nav-link{
    padding: 0 40px;
  }

  .navbar{
    background-color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1px;
    background: #000 !important;
    padding: 0 15px;
  }

  /* --------------------------------
  * Top
  * -------------------------------- */
  .top-caption h1{
    font-size: 48px;
  }

  .top-caption .btn{
    font-size: 28px;
  }

  /* --------------------------------
  * Profile
  * -------------------------------- */
  .profile-contents{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 50px;
    margin: 0 auto;
    font-size: 20px !important;
    width: 70%;
  }

  /* --------------------------------
  * Work
  * -------------------------------- */
  #work-content{
    margin: 100px 140px;
  }
}
  /* ==== PC版 (大) ここまで==== */
  /* Animation */
  @keyframes fadeUp{
    0%{
      transform: translateY(20px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeDown{
    0%{
      transform: translateY(-20px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
